@import url('/src/static.css');

.very-main-block {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* ================================================================= HEADER */

.main-header {
    user-select: none;

    position: absolute;
    top: 0;
    left: 23vw;
    width: 77vw;
    height: 10vh;
    cursor: default;

    background-color: var(--background-light-color);
}

.header-block {
    width: 100%;
    height: 100%;

    position: relative;
}

.main-title-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.main-title-text {
    font-size: xx-large;
    font-family: 'title';
    text-align: center;
}

.navbar-block {
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;

    font-family: Arial;
    font-size: x-large;

    &:hover {
        background-color: var(--hover-light-color);
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    &:active {
        opacity: 0.8;
    }
}

/* ================================================================= SIDE */

.main-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 23vw;
    height: 100%;
    background-color: var(--background-light-color);
}

.person-block {
    /* position: relative; */

    height: calc(10vh - 25px);
    width: calc(100% - 10px);
    margin: 10px 5px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person-account-block {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* background-color: red; */
    width: 90%;
    height: 80%;

    &::-webkit-scrollbar {
        width: 0px;
    }
}

#avatar {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    /* background-color: red; */
    flex-shrink: 0;
    margin-left: 10px;

    border: 1px solid var(--border-light-color);

    background-image: url("/person.jpg");
    background-position: center;
    background-size: contain;
}

#name {
    width: calc(100% - 5vh);
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    cursor: default;

    font-family: var(--task-font);
    font-size: small;
    letter-spacing: 5px;

    display: flex;
    flex-direction: column;
    justify-content: start;

    &::-webkit-scrollbar {
        width: 0px;
    }
}

.person-account-button {
    position: static;
    width: fit-content;
    height: 20%;
    padding: 0 10px;
    border: none;
    background-color: transparent;

    font-family: var(--button-font);
    font-size: small;
    letter-spacing: 5px;

    &:hover {
        color: rgb(255, 40, 40);
        cursor: pointer;
        transition: color 0.2s;
    }
}

.side-block {
    height: calc(90vh - 10px);
    width: 100%;

    position: relative;
}

.choresList-block {
    position: absolute;

    height: calc(80% - 10px);
    width: calc(100% - 30px);
    top: calc(40px + 1vh);
    margin: 0px 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}

.chores-block {
    width: 100%;
    height: auto;
    max-height: 90%;
    margin-bottom: 2vh;
    overflow-y: scroll;
}

.chores-block::-webkit-scrollbar {
    width: 0px;
}

.button-block {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

/* ================================================================= GENERAL */

.general-block {
    position: absolute;
    left: 23vw;
    top: 10vh;
    width: 77vw;
    height: 90vh;
}

.note-block {
    width: calc(100% - 10px);
    max-height: calc(75% - 20px);
    padding-left: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow: scroll;

    &::-webkit-scrollbar {
        width: 0px;
    }
}

.note-block + .note-block {
    margin-top: 20px;
}

[height="important"] {
    max-height: calc(40% - 40px);
}

[height="other"] {
    max-height: calc(65% - 20px - 40px);
}