@import url('/src/static.css');

.very-main-block {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.main-header {
    user-select: none;

    position: absolute;
    top: 0;
    left: 23vw;
    width: 77vw;
    height: 10vh;
    cursor: default;

    background-color: var(--main-background-color);
}

.header-block {
    width: 100%;
    height: 100%;

    position: relative;
}

.main-title-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.main-title-text {
    font-size: xx-large;
    font-family: 'title';
    text-align: center;
}

.navbar-block {
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;

    font-family: Arial;
    font-size: x-large;

    &:hover {
        background-color: var(--hover-color);
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    &:active {
        opacity: 0.8;
    }
}


.main-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 23vw;
    height: 100%;
    background-color: var(--main-background-color);
}

.person-block {
    position: relative;

    height: calc(10vh - 20px);
    width: calc(100% - 10px);
    margin: 10px 5px;
}

.side-block {
    height: calc(90vh - 10px);
    width: 100%;

    position: relative;
}

.choresList-block {
    position: absolute;

    height: calc(80% - 10px);
    width: calc(100% - 30px);
    top: calc(40px + 1vh);
    margin: 0px 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}

.chores-block {
    width: 100%;
    height: auto;
    max-height: 90%;
    margin-bottom: 2vh;
    overflow-y: scroll;
}

.chores-block::-webkit-scrollbar {
    width: 0px;
}

.button-block {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}