@font-face {
    font-family: "title";
    src: url("/News-text.ttf"), format('ttf');
}

@font-face {
    font-family: "description";
    src: url("/manual.ttf"), format('ttf');
}

@font-face {
    font-family: "task";
    src: url("/Unbounded.ttf"), format('ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url("Comfortaa.ttf"), format('ttf');
}

:root {
    --title-font: 'title';
    --description-font: 'description';
    --task-font: 'task';
    --button-font: 'Comfortaa';

    --background-light-color: rgb(230, 230, 230);
    --hover-light-color: rgb(210, 210, 210);
    --border-light-color: rgb(180, 180, 180);
    --shadow-light-color: rgb(250, 250, 250);

    --change-icon: '📝';
    --delete-icon: '🗑️';
}