@import url('/src/static.css');

.note {
    width: 240px;
    height: 150px;
    margin: 10px;
    
    border: 3px solid var(--border-light-color);
    border-radius: 10px;
    overflow: hidden;

    transition: all 0.2s;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 5px 5px 5px var(--background-light-color);
        cursor: pointer;
    }

    &:active {
        transform: translateY(1px);
        box-shadow: none;
    }
}

.main {
    user-select: none;
    width: 100%;
    height: 60%;
    /* padding: 10px 20px; */

    overflow: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.note-title {
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    margin: 10px 20px;

    font-family: var(--task-font);
    font-size: medium;
}

.footer {
    width: 100%;
    height: 40%;
    position: relative;
    
    background-color: var(--background-light-color);
}

.imp-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
    right: 2vh;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    border: 2px solid var(--border-light-color);
    background-color: rgb(250, 250, 250);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 200, 200, 0.8);
        transition: background-color 0.2s;
    }
}

.active {
    border: none;
    background-color: rgb(255, 110, 110);
    color: white;

    font-family: var(--title-font);
    font-size: 100%;

    &:hover {
        background-color: rgb(100, 100, 100);
        transition: all 0.3s;

        &::after {
            content: '✘';
        }
    }

    &::after {
        content: '!';
    }
}