@font-face {
    font-family: "task";
    src: url("/Unbounded.ttf"), format('ttf');
}

.task-block:not(.done) {
    position: relative;

    height: 7vh;
    width: 94%;
    margin-left: 3%;

    border-radius: 10px;
    border: 2px solid rgb(180, 180, 180);
    background-color: rgb(250, 250, 250);

    .task-text-block {
        position: absolute;
        top: 0%;
        height: 100%;
        left: 0.5vw;
        width: 73%;    /*! СЕЙЧАС МЫ НЕ В MAIN-ВЕТКЕ, РАБОТАЕМ НАД ГРАМОТНЫМ HOVER У ТАСКОВ*/
        overflow: hidden;
        white-space: nowrap;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
            width: calc(100% - 0.5vw);
            left: 0;
            padding-left: 0.5vw;
            border-radius: 10px;
            
            background-color: rgb(240, 240, 240);
            cursor: pointer;
            transition: background-color 0.2s;
        }
    }

    .task-text {
        font-family: "task";
        font-weight: 300;
    }

    .task-button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 2vh;
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
        border: 2px solid rgb(180, 180, 180);
        background-color: rgb(250, 250, 250);
    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5vh;
        cursor: pointer;
    
        &:hover {
            background-color: rgba(80, 230, 80, 0.2);
            transition: background-color 0.2s;
        }
    }

    .cross-line {
        display: none;
    }
}

.task-block.done {
    position: relative;

    height: 7vh;
    width: 94%;
    margin-left: 3%;
    cursor: default;

    border-radius: 10px;
    border: 2px solid rgb(230, 230, 230);
    background-color: rgb(250, 250, 250);

    .cross-line {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 5px;
        width: calc(80% - 10px);
        height: 3px;
        background-color: rgb(200, 200, 200);
    }

    .task-text {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 1vw;
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
    
        font-family: "task";
        font-weight: 300;
        color: grey;

    }

    .task-button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 2vh;
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
        border: none;
        background-color: rgba(60, 170, 60, 0.8);
        
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2vh;
        color: white;
    }
}

.task-block + .task-block {
    margin-top: 10px;
}