@keyframes background {
    from {
        width: 5%;
    }
    to {
        width: 100%;
    }
}

.text-button-block {
    height: auto;
}

.text-button-block + .text-button-block {
    margin-top: 10px;
}

.content-main {
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;
    overflow: hidden;

    &:active {
        opacity: 0.9;
    }
}

.text-button {
    position: relative;
    z-index: 1;

    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 12px;
    
    border-radius: 10px;
    background-color: transparent;

    cursor: pointer;
    font-family: Arial;
    font-size: 2vh;
    letter-spacing: 5px;
    text-transform: lowercase;
    line-height: 50%;    
}

.back {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 0;
}

.default-block {
    width: 94%;
    margin-left: 3%;
}

.content-default:hover .back {
    animation: background 0.4s;
    background-color: var(--main-border-color);

    transition: animation 1s ease-in;
    width: 100%;
}

.content-default:hover .text-button {
    color: white;
    transition: all 0.4s;
}

.default-button {
    border: 2px solid var(--main-border-color);
}

.remove-block {
    position: absolute;
    width: 180px;
    right: 10%;
    bottom: 2vh;
}

.content-remove:hover .back {
    animation: background 0.4s;
    background-color: rgb(255, 100, 100);

    transition: animation 1s ease-in;
    width: 100%;
}

.content-remove:hover .text-button {
    color: white;
    transition: all 0.4s;
}

.remove-button {
    border: 2px solid rgb(255, 100, 100);
}

.add-block {
    position: absolute;
    width: 200px;
    right: 5%;
    bottom: 2vh;
}

.content-add:hover .back {
    animation: background 0.4s;
    background-color: rgb(90, 120, 255);

    transition: animation 1s ease-in;
    width: 100%;
}

.content-add:hover .text-button {
    color: white;
    transition: all 0.4s;
}

.add-button {
    border: 2px solid rgb(90, 120, 255);
}